<template name="Contract">
  <div class="container">
    <h2>ข้อมูลติดต่อใช้บริการ</h2>
    <h4>
     <span class="glyphicon glyphicon-earphone" aria-hidden="true"> โทรศัพท์ : xxxxxxxxxxx</span> <br/>
     <span class="glyphicon glyphicon-home" aria-hidden="true"> บ้าน  :</span> <br/>
     <span class="glyphicon glyphicon-phone" aria-hidden="true"> Online อื่นๆ :</span> <br/>
    </h4>



โทรศัพท์พูดคุยกับเจ้าหน้าที่ฝ่ายบริการลูกค้า
แสดงเพิ่มเติม +
Live Chat

สอบถามข้อมูลออนไลน์เปิดให้บริการ
วันจันทร์-ศุกร์ 08:00-20:00 และ
วันเสาร์ - อาทิตย์ 08:00 - 17:00
เว้นวันหยุดนักขัตฤกษ์
เริ่มสนทนา
Email

ส่งอีเมล และรับคำตอบถัดไ
  </div>
  <div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3871.633564587891!2d100.68080171406204!3d13.980403690199818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d7eeb47fd91a9%3A0x7c7848797806cdb7!2z4Lib4Lij4Liw4LiK4Liy4Lij4Lin4Lih4LiK4LmI4Liy4LiH!5e0!3m2!1sth!2sth!4v1447649027519" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</template>
